.card-img-container {
  width: 100%;
  max-width: 250px;
  height: 300px;
  margin: auto;
  overflow: hidden;
}

.card-h {
  height: 11.5rem;
}

.expanded {
  height: auto !important;
}

.card-text{
  height: 7.5rem;
}

.btn-link:focus {
  box-shadow: none !important;
}