* {
  font-family: 'Nunito', sans-serif;
  color: #212529;
}

:root {
  --celeste1: #AED6F1;
  --celeste2: #56ccf2;
  --rojo: rgba(231, 47, 47, 0.911);
  --blanco-fondo: #f8f9fa;
  --blanco-resaltado: #dfdfdf;
  --amarillo: #ffc107;
  --negro: #343a40;
}

::-webkit-scrollbar {
  display: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
